.hidden {
    display: none;
}

.overlay {
    font-family: "Liberation Serif";
    line-height: 1.1285em;
    position: absolute;
    right: 50px;
    color: #FFF;
    text-align: center;
    font-size: 45px;
    background-color: blue;
    width: auto;
    padding: 0px 10px;
    z-index: 2147483647;
    float: right !important;
}