.vclient {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	.room-selection {
		border-radius:.28571429rem 0 0 .28571429rem!important;
	}

	&__main {
		flex: 1 0 auto;
		display: flex;
		position: relative;
	}

	&__main-wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
		display: flex;
	}

}


*,
*:before,
*:after {
	box-sizing: border-box;
}

.title {
	font-family: "Liberation Serif";
	font-size: 45px;
	text-align: right;
	margin-bottom: .1em;
	margin-top: .2em;

	span {
		display: inline-block;
		background: blue;
		line-height: 1.1em;
		color: white;
		padding: 0 .7em;
	}
}

.videos__wrapper {
		position: absolute;
		overflow: hidden;
		top: 2px;
		right: 2px;
		left: 2px;
		bottom: 2px;
	}

.video {
	position: relative;
	background: rgba(34, 34, 34, 1);
	
	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;

		&.talk-frame {
			border: 4px solid rgba(yellow, .6);
		}
	}

	.nowebcam {
		top: 0;
		position: absolute;
		fill: #fff;
		font-family: Icons;
		font-size: .8rem;
		object-fit: contain;
		width: 100%;
		height: 100%;
	}

	.question {
		&:before {
			display: block;
			content: "";
			padding-top: 100%;
		}

		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		max-width: 30%;
		width: 400px;
		min-width: 60px;
		background:rgba(34, 34, 34, .9);
		border-radius: 10%;
		border: 6px solid white;
		// animation: blinker 1s linear infinite;
		font-family: Icons;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 2.5rem;
			fill: white;
		}

	}

	&__title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: .7rem 1rem;
		background: rgba(34, 34, 34, .9);
		font-size: 1rem;
		color: white;
		// border-radius: 4px;
		line-height: 1;
		text-shadow: 0 2px 1px rgba(0, 0, 0, .7);

		.icon {
			margin-right: .7rem;
			position: relative;
			top: -.09rem;
		}

		// color:yellow;
	}

	video {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}

$vw : 16;
$vh: 9;


@keyframes blinker {
	50% {
		opacity: 0;
	}
}

.videos__wrapper {
	display:flex;
	flex-wrap: wrap-reverse;
	.video_full &{
		justify-content: center;
	}
}
.no-of-videos- {
	&1 {
		.video {flex: 0 0 percentage(1/1);}
	}
	&2, &3, &4 {
		.video {flex: 0 0 percentage(1/2);}
	}
	&5, &6, &7, &8, &9 {
		.video {flex: 0 0 percentage(1/3);}
	}
	&10, &11, &12, &13, &14, &15, &16 {
		.video {flex: 0 0 percentage(1/4);}
	}
// ---------------
	&1, &2 {
		.video {height: percentage(1/1);}
	}
	&3, &4, &5, &6 {
		.video {height: percentage(1/2);}
	}
	&7, &8, &9, &10, &11, &12 {
		.video {height: percentage(1/3);}
	}
	&13, &14, &15, &16{
		.video {height: percentage(1/4);}
	}
}
