body {
    margin: 10px;
    height: 90%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

video {
    pointer-events: none;
}

.mediaplayer {
    position: relative;
}

.talk {
    font-size: 3rem!important;
    line-height: 1.1285em;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF;
    text-align: center;
    background-color: red;
    width: auto;
    padding: 0px 10px;
    z-index: 2147483647;
    float: right !important;
}