.info-panel {
    text-align: left;
    height:230px;
    overflow-y:scroll;
    flex: 1 0 auto;
    /*min-width: 935px;*/
    /*min-height: 17em!important;*/
}

.popup_preview {
    right: 1020px!important;
    position: absolute!important;
    will-change: transform!important;
    top: 0px!important;
    left: auto!important;
    transform: translate3d(553px, 343px, 0px)!important;
}

.info-buttons {
    text-align: center;
    min-width: 935px;
}

.queue_counter {
    font-size: 1.5em;
    color: powderblue;
}

.group_list {
    overflow-y:scroll;
    top:0px; left:0px;
    width:102%; height:350px;
}

.disabled_groups {
    overflow-y:scroll;
    top:0px; left:0px;
    width:102%; height:270px;
}

.users_list {
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:270px;
}

.disabled_users {
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:200px;
}

.preview_conteiner {
    cursor: pointer!important;
    width: 460px;
    height: 290px;
}

.questiont {
    &:before {
        display: block;
        content: "";
        padding-bottom: 100%;
    }
    position: absolute;
    bottom: 13px;
    left: 18px;
    max-width: 15%;
    width: 200px;
    min-width: 30px;
    background: rgba(34, 34, 34, .9);
    font-family: Icons;
    svg {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 2.5rem;
        fill: white;
    }
}