.videos-panel {
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    background:#000;
    padding: 1.6em;
    flex: 1 0 100%;
    transition: .2s all linear;
}

.virtual_segment {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.ingest_segment{
    display: flex;
    align-items: center;
    padding: .8rem .5rem;
    flex-wrap:wrap;
}

.ingest_segment > .menu,
.ingest_segment >.input {
    margin: .2rem .5rem !important;
}
.ingest_segment .menu:nth-child(2) {
    flex: 1 0 auto;
}
.videos_segment {
    flex: 1 0 auto;
    display: flex;
}

.video-wrapper {
    display: flex;
    background: #000;
    padding: 1.6em;
    flex: 1 0 100%;
    transition: .2s all linear;

}
.virtual_segment--chat-open .video-wrapper{
    flex: 1 0 calc(100% - 400px);
}
.chat-wrapper {
    flex: 0 0 400px;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.ui.selection.dropdown .menu {
    max-height: 30rem;
}

.talk {
    border: 1px solid yellow;
}

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hidden {
    display: none;
}

/*.select_device {*/
    /*min-width: 10em!important;*/
/*}*/

.vumeter {
    width: 15px;
    height: 35px;
    top: 150px;
    left: 45%;
    text-align: center;
    margin-left: 5px;
    border: 1px solid #a5e4b5;
}

.ui.massive.menu {
    font-size: 1.28571429rem;
}

.admin_table {
    cursor: pointer!important;
}

.admin_table .ui.table tr.warning, .ui.table td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.admin_table .ui.selectable.table tr.warning:hover, .ui.table tr td.selectable.warning:hover, .ui.selectable.table tr:hover td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
    background: #f7ffe6 !important;
    color: #275b28 !important;
    font-weight: bold!important;
    /*color: #287ab7!important;*/
}

.ui.table tr.positive, .scoped-semantic-ltr .ui.table td.positive {
    background: #e1e6d4 !important;
    font-weight: normal!important;
    /*color: #2C662D;*/
}

.users_list {
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:200px;
}

.messages_list {
    overflow-y:scroll;
    flex: 1 0 auto;

    /* top:0px; left:0px;
    width:100%; height:400px; */
}

.disabled_users {
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:140px;
}

.preview_segment {
    width: 430px;
    height: 250px;
    cursor: pointer!important;
    background-color: silver!important;
}

.program_segment {
    width: 430px;
    height: 250px;
    background-color: silver!important;
}

.users_container {
    width: 490px;
    /*height: 920px;*/
}

.shidur_overlay {
    font-family: "Liberation Serif";
    line-height: 1.1285em;
    position: absolute;
    right: 50px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    background-color: blue;
    width: auto;
    padding: 0px 10px;
    z-index: 1;
    float: right !important;
}