.monitoring-search div {
  width: 100%;
}

.monitoring-search input {
  width: 100%;
}

.monitoring-cell {
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.ui.table thead th {
  padding: 0.1em 0.1em;
}

.ui.table td {
  padding: 0.1em 0.1em;
}
