// Quantity queries
// 1. Last Simple Selector
@function _last-simple-selector($selector) {
    $parsed: selector-parse($selector);

    @if length($parsed) > 1 {
      @error '`#{$selector}` contains #{length($parsed)} selectors and the `_last-simple-selector()`function accepts only 1.';
    }
    $last-simple-selector: nth(nth($parsed, 1), -1);

    @return $last-simple-selector;
}

// 2. Build Quantity Selector
@function _build-quantity-selector($selector-append, $last-selector) {
    $quantity-selector: ();

    @each $s in & {
        $last-simple-selector: '~' + if($last-selector, $last-selector, _last-simple-selector($s));
        $sel: selector-append($s, $selector-append);
        $sel2: selector-nest($sel, $last-simple-selector);
        $quantity-selector: append($quantity-selector, $sel, 'comma');
        $quantity-selector: append($quantity-selector, $sel2 , 'comma');
    }

    @return $quantity-selector;
}

// 6. Exactly
@mixin exactly($count, $selector: null) {
    $selector-append: ':nth-last-child(#{$count}):first-child';

    @if type-of($count) != 'number' or not unitless($count) or $count < 1 {
        @error '`#{$count}` is not a valid number for `exactly`';
    }

    @if $selector != null and (type-of($selector) != 'string' or length($selector) > 1) {
        @error '`#{$selector}` is not a valid selector for `exactly`';
    }

    $exactly-selector: _build-quantity-selector($selector-append, $selector);


    @at-root #{$exactly-selector} {
        @content;
    }
}

//////////////////////////////////////////////


*, *:before, *:after{
    box-sizing: border-box;
}

.title {
    font-family: "Liberation Serif";
    font-size: 45px;
    text-align: right;
    margin-bottom: .1em;
    margin-top: .2em;
    span {
        display: inline-block;
        background: blue;
        line-height: 1.1em;
        color: white;
        padding: 0 .7em;
    }
}
.videos{
    flex: 1 1 auto;
    position:relative;
    // margin: -1px;
&__wrapper {
    display: flex;
    
    position:absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    // display: grid;
    // grid-template-columns: repeat( 120,  1fr );
    // grid-template-rows: repeat(120, percentage(1/120));
    overflow: hidden;
    height: 100%;
    width: 100%;
 }
}

.video {
    flex-grow: 0;
    flex-shrink: 1;
    height: percentage(1/1);
    position: relative;
    // margin: 1px;
    background: rgba(34, 34, 34, 1);
    border: 2px solid #000;
    overflow:hidden;
    @for $i from 1 to 16 {
      @include exactly($i){
        flex-basis: percentage(1/$i)
      }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        &.talk{
            border:4px solid rgba(yellow,.6);
        }
    }
    .nowebcam {
        top:0;
        position: absolute;
        fill: #fff;
        font-family: Icons;
        font-size: .8rem;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
    .question {
        &:before {
            display: block;
            content: "";
            padding-top: 100%;
        }
        position: absolute;
        top:0;
        right:0;
        max-width: 20%;
        width: 200px;
        min-width: 60px;
        background:rgba(34, 34, 34, .9);
        font-family: Icons;
        svg{
            position: absolute;
            top:0;
            left:0;
            font-size: 2.5rem;
            fill:white;
        }

    }
    
    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: .7rem 1rem;
        background:rgba(34, 34, 34, .9);
        font-size: 2.4rem;
        color:white;
        // border-radius: 4px;
        line-height: 1;
        text-shadow: 0 2px 1px rgba(0,0,0,.7);
        .icon{
            margin-right:1rem;
            position: relative;
            top: -.09rem;
        }
        // color:yellow;
    }
    video {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}
$vw : 16;
$vh: 9;

// 2 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(2){flex-basis: percentage(1/1); height: percentage(1/2);}}}}

// 3 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(3){flex-basis: percentage(1/2); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(3){flex-basis: percentage(1/1); height: percentage(1/3);}}}}

// 4 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(4){flex-basis: percentage(1/2); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(4){flex-basis: percentage(1/1); height: percentage(1/4);}}}}

// 5 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(5){flex-basis: percentage(1/3); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(5){flex-basis: percentage(1/2); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(5){flex-basis: percentage(1/1); height: percentage(1/5);}}}}

// 6 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*6}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(6){flex-basis: percentage(1/3); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(6){flex-basis: percentage(1/2); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*6}){:self{flex-wrap: wrap;.video{@include exactly(6){flex-basis: percentage(1/1); height: percentage(1/6);}}}}

// 7 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*7}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(7){flex-basis: percentage(1/4); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(7){flex-basis: percentage(1/3); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(7){flex-basis: percentage(1/2); height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*7}){:self{flex-wrap: wrap;.video{@include exactly(7){flex-basis: percentage(1/1); height: percentage(1/7);}}}}

// 8 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*8}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(8){flex-basis: percentage(1/4); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(8){flex-basis: percentage(1/3); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(8){flex-basis: percentage(1/2); height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*8}){:self{flex-wrap: wrap;.video{@include exactly(8){flex-basis: percentage(1/1); height: percentage(1/8);}}}}

// 9 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*9}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(9){flex-basis: percentage(1/5); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(9){flex-basis: percentage(1/3); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(9){flex-basis: percentage(1/2); height: percentage(1/5);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*9}){:self{flex-wrap: wrap;.video{@include exactly(9){flex-basis: percentage(1/1); height: percentage(1/9);}}}}

// 10 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*10}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(10){flex-basis: percentage(1/5); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(10){flex-basis: percentage(1/4); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(10){flex-basis: percentage(1/2); height: percentage(1/5);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*10}){:self{flex-wrap: wrap;.video{@include exactly(10){flex-basis: percentage(1/1); height: percentage(1/10);}}}}

// 11 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*11}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(11){flex-basis: percentage(1/6); height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*6}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(11){flex-basis: percentage(1/4); height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(11){flex-basis: percentage(1/3); height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*6}){:self{flex-wrap: wrap;.video{@include exactly(11){flex-basis: percentage(1/2); height: percentage(1/6);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*11}){:self{flex-wrap: wrap;.video{@include exactly(11){flex-basis: percentage(1/1); height: percentage(1/11);}}}}

// 12 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*12}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(12){flex-basis: percentage(1/6);height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*6}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(12){flex-basis: percentage(1/4);height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(12){flex-basis: percentage(1/3);height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*6}){:self{flex-wrap: wrap;.video{@include exactly(12){flex-basis: percentage(1/2);height: percentage(1/6);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*12}){:self{flex-wrap: wrap;.video{@include exactly(12){flex-basis: percentage(1/1);height: percentage(1/12);}}}}

// 13 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*13}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/7);height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*7}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/5);height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/4);height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/3);height: percentage(1/5);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*7}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/2);height: percentage(1/7);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*13}){:self{flex-wrap: wrap;.video{@include exactly(13){flex-basis: percentage(1/1);height: percentage(1/13);}}}}

// 14 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*14}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/7);height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*7}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/5);height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/4);height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/3);height: percentage(1/5);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*7}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/2);height: percentage(1/7);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*14}){:self{flex-wrap: wrap;.video{@include exactly(14){flex-basis: percentage(1/1);height: percentage(1/14);}}}}

// 15 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*15}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/8);height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*8}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/5);height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*5}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/4);height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*5}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/3);height: percentage(1/5);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*8}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/2);height: percentage(1/8);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*15}){:self{flex-wrap: wrap;.video{@include exactly(15){flex-basis: percentage(1/1);height: percentage(1/15);}}}}
    
// 16 elements
@element .videos__wrapper and (max-aspect-ratio: #{$vw*16}/#{$vh*2}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/8);height: percentage(1/2);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*8}/#{$vh*3}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/6);height: percentage(1/3);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*6}/#{$vh*4}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/4);height: percentage(1/4);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*4}/#{$vh*6}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/3);height: percentage(1/6);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*3}/#{$vh*8}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/2);height: percentage(1/8);}}}}
@element .videos__wrapper and (max-aspect-ratio: #{$vw*2}/#{$vh*16}){:self{flex-wrap: wrap;.video{@include exactly(16){flex-basis: percentage(1/1);height: percentage(1/16);}}}}

