.usersvideo_grid {
  display: grid;
  grid-template-columns: 960px 960px;
  position:relative;
  width: 1920px;
  height: 1080px;
}

.usersvideo_box {
  background-color: #444;
  color: #fff;
  font-size: 100%;
  position:relative;
  height: 540px;
  width: 960px;
}

.usersvideo_qst {
  background-color: #444;
  color: #fff;
  font-size: 100%;
  position:relative;
  height: 540px;
  width: 960px;
  border:5px solid rgba(255, 0, 0, 1);
}

.click-panel {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  background:#000;
  flex: 1 0 100%;
  transition: .2s all linear;
}

.video_full {
  // background-color: #444;
  color: #fff;
  font-size: 150%;
  position:relative;
  height: 1080px;
  width: 1920px;
}

.video_title {
  // font-family: "Liberation Serif";
  // line-height: 1.3285em;
  position: absolute;
  // right: 65px;
  line-height: 100px;
  height: 100px;
  right: 10px;
  top: 6px;
  color: #FFF;
  text-align: center;
  font-size: 75px;
  background-color: #2185d0;
  // width: auto;
  padding: 0px 50px;
  // float: right !important;
  z-index: 2;
}

// .videos-panel {
//     padding:0;
// }

.fullscrvideo_title {
  // font-family: "Liberation Serif";
  // line-height: 1.2285em;
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  margin: 0;
  color: #FFF;
  text-align: center;

  font-size: 112.5px;
  line-height: 150px;
  height: 150px;
  background-color: #2185d0;
  // width: auto;
  padding: 0px 30px;
  // float: right !important;
  z-index: 2;
}

.video_full .vclient__main-wrapper {
  // background:red;
  height: calc(100% - 150px) !important;
  top: 150px !important;
  position: absolute !important;
}

.next_button {
  bottom: 0;
  position: absolute;
  right: 0px;
  float: right !important;
  z-index: 3;
}

.sound_test {
  top: 15px;
  position: absolute;
  right: 17px;
  float: right !important;
}

.preset_button {
  flex: 0 0 auto!important;
}

.fullscreen {
  border:2px solid rgba(255, 0, 0, 1);
}

.question {
  z-index: 4;
  &:before {
    display: block;
    content: "";
    padding-top: 100%;
  }
  position: absolute;
  top: 0;
  left: 0;
  max-width: 20%;
  width: 200px;
  min-width: 30px;
  background: rgba(34, 34, 34, .9);
  font-family: Icons;
  svg {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5rem;
    fill: white;
  }
}

.qst_title {
  font-family: Arial, sans-serif;
  // font-weight: 900;
  // display:inline-block;
  // -webkit-transform: scale(1.5,1);
  // line-height: 0.9em;
  position: absolute;
  color: black;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 100px;
  background-color: white;
  width: 100px;
  height: 100px;
  // padding: 0px 5px;
  // float: right!important;
  right: 10px;
  top: 6px;
  z-index: 2;
  + .video_title {
    right: 110px;
  }
  &__first_time {
    color: red;
    background-color: yellow;
  }
}

.qst_fullscreentitle {
  font-family: Arial, sans-serif;
  // font-family: Icons;
  font-weight: bold;
  // -webkit-transform:scale(1.5,1);
  line-height: 150px;
  position: absolute;
  color: black;
  text-align: center;
  font-size: 150px;
  background-color: white;
  /*background:rgba(34, 34, 34, .9);*/
  width: 150px;
  // padding: 0px 5px;
  // float: left !important;
  right: 10px;
  top: 0;
  z-index: 2;
  + .fullscrvideo_title {
    margin-right: 160px;
  }
  &__first_time {
    color: red;
    background-color: yellow;
  }
}

.group_conteiner {
  width: 460px;
  height: 310px;
}

.info_segment {
  width: 1410px;
  height: 110px;
}

.program_segment {
  width: 430px;
  height: 250px;
  cursor: pointer!important;
  background-color: silver!important;
}

.group_segment {
  width: 430px;
  height: 250px;
  background-color: silver!important;
}
