html, body, #root, .wrapper {
    height: 100vh;
    overflow: hidden;
}
.wrapper {
    display: flex;
}
.videos-panel {
    height: 100vh;
    flex-direction: column;
    display: flex;
    background:#000;
    flex: 1 0 70%;
}

.videos_segment {
    flex: 1 0 auto;
    display: flex;
}

.table-wrapper {
    height: 100vh;
    overflow: auto;
    margin: 0;
    flex: 1 0 15%;
}

table.table tr {
    cursor: pointer !important;
}