
.workshop-question-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  .workshop-question-outer-container {
    position: relative;

    &.out {
      .workshop-question-inner-container {
        left: -1000%;
      }

      .slide-in-btn {
        display: block;
      }
    }

    .layout--double &,
    .layout--equal &,
    .layout--split & {
      width: 100%;
      height: 28vw;
    }

    .fullscreen & {
      height: 100%;

      .workshop-question-inner-container .workshop-question {
        font-size: 30px;
        min-height: 200px;
        max-height: 300px;
      }
    }

    .workshop-question-inner-container {
      position: absolute;
      bottom: 0;
      background-color: #fffdff;

      .workshop-tools {
        display: flex;
        justify-content: space-between;
        align-items: center;
        $box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        box-shadow: $box-shadow;

        .workshop-tools-left {
          .ui.button {
            background-color: #fffdff;

            &:hover {
              background-color: #f2f2f2;
            }

            .icon {
              margin: 0;
            }
          }
        }

        .workshop-tools-right {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .workshop-font-size-buttons {
            margin-right: 12px;

            .ui.button {
              width: 40px;
              padding: 8px;
            }
          }

          .ui.selection.dropdown {
            padding: 8px;
            min-height: auto;
            min-width: 132px;

            .dropdown.icon {
              padding: 8px;
            }
          }
        }
      }

      .workshop-question {
        min-height: 8vw;
        max-height: 10vw;
        font-size: 18px;
        line-height: 1.3;
        overflow: auto;
      }

      .workshop-tools,
      .workshop-question {
        padding: 8px;
      }
    }

    .slide-in-btn {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    // Check VideoContainer.scss for .layout--double & .layout--equal
    @media screen and (orientation: portrait) {
      .layout--split & {
        height: 100%;

        .workshop-question {
          max-height: 16vw;
        }
      }
    }
  }
}
