@mixin portrait {
    @media only screen and (orientation: portrait) {
      @content;
    }
  }
.vclient {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__toolbar {
        display: flex;
        align-items: center;
        padding: .8rem .5rem;
        flex-wrap:wrap;

        & > .menu,
        & > .input {
            margin: .2rem .5rem !important;
        }

        .menu:nth-child(2) {
            flex: 1 0 auto;
        }
    }

    &__main {
        flex: 1 0 auto;
        display: flex;
        position: relative;
        // overflow: hidden;
    }

    &__main-wrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        // border: 2px solid red;
        @include portrait {
            flex-direction: column;
        }

    }



}
.videos-panel {
    // display: flex;
    background:#000;
    position: relative;
    // padding: 1.6em;
    flex: 1 0 100%;
    .layout--split &{
        flex: 1 0 50%;
    }
    // transition: .2s all linear;

    .vclient--chat-open & {
        flex: 1 0 calc(100% - 400px);
    }
    .layout--split &{
        .vclient--chat-open & {
            flex: 1 0 calc(50% - 200px);
        }
    }
}

.broadcast-panel {
    
    background:#000;
    // padding: 1.6em;
    position: relative;
    display: none;
    .layout--split &{
        display: block;
        flex: 1 0 50%;
        .vclient--chat-open & {
            flex: 1 0 calc(50% - 200px);
        }
        // width: 300px;
    }
}
.chat-panel {
    flex: 0 0 400px;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    @include portrait {
        padding: 10px;
    }

}


.messages_list {
    overflow-y:scroll;
    flex: 1 0 auto;
    position: relative;
    .messages-wrapper {
        position: absolute;
        top:0;
        left:0;
        padding: 1em 1.5em;
        width: 100%;
    }
}
.ui.selection.dropdown .menu {
    max-height: 30rem;
}

// .talk {
//     outline: 1px solid yellow;
// }

.mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.hidden {
    display: none;
}

/*.select_device {*/
    /*min-width: 10em!important;*/
/*}*/
.mute-button {
    max-width:66px;
    overflow:hidden;
}
.vumeter {
    width: 70px;
    height: 56px;
    top: 0;
    left: 0;
    text-align: center;
    position: absolute;
    z-index: -1;
}

.ui.massive.menu {
    font-size: 1.28571429rem;
}

.admin_table {
    cursor: pointer!important;
}

.admin_table .ui.table tr.warning, .ui.table td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.admin_table .ui.selectable.table tr.warning:hover, .ui.table tr td.selectable.warning:hover, .ui.selectable.table tr:hover td.warning {
    background: #aed6b7 !important;
    color: #20522c !important;
}

.ui.table tr.active, .scoped-semantic-ltr .ui.table td.active {
    background: #f7ffe6 !important;
    color: #275b28 !important;
    font-weight: bold!important;
    /*color: #287ab7!important;*/
}

.ui.table tr.positive, .scoped-semantic-ltr .ui.table td.positive {
    background: #e1e6d4 !important;
    font-weight: normal!important;
    /*color: #2C662D;*/
}

// .group_list {
//     overflow-y:scroll;
//     top:0px; left:0px;
//     width:100%; height:270px;
// }



.disabled_list {
    overflow-y:scroll;
    top:0px; left:0px;
    width:100%; height:70px;
}

.preview_segment {
    width: 430px;
    height: 250px;
    cursor: pointer!important;
    background-color: silver!important;
}

.program_segment {
    width: 430px;
    height: 250px;
    background-color: silver!important;
}

.segment_conteiner {
    width: 460px;
    height: 920px;
}

.shidur_overlay {
    font-family: "Liberation Serif";
    line-height: 1.1285em;
    position: absolute;
    right: 50px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    background-color: blue;
    width: auto;
    padding: 0px 10px;
    z-index: 2147483647;
    float: right !important;
}
