@import "VirtualWorkshopQuestionHelpers";

.workshop-question-overlay {
  width: 100%;
  display: flex;
  align-items: flex-end;
  @include workshop-visibility;

  .layout--double &,
  .layout--equal &,
  .layout--split & {
    height: 28vw;
  }

  .workshop-container {
    width: 100%;
    position: relative;
    flex: 1;

    .manage-question-visibility {
      position: absolute;
      top: 12px;
      left: 0;
      z-index: 1;
      background-color:  #fffdff;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding-left: 4px;
    }

    .question-container {
      background-color: #fffdff;
      @include workshop-visibility;

      .workshop {
        &__toolbar {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          border-bottom: 1px solid #e3e3e3;
          padding: 12px 12px 8px;

          .manage-font-size {
            position: relative;

            &:hover {
              .manage-font-size-pop__container {
                visibility: visible;
              }
            }

            .manage-font-size-pop {
              &__container {
                position: absolute;
                left: 50%;
                top: -48px;
                z-index: 1;
                -webkit-transform: translate(-50%);
                transform: translate(-50%);
                padding-bottom: 16px;
                visibility: hidden;

                &:after {
                  position: absolute;
                  top: 30px;
                  left: 50%;
                  margin-left: -8px;
                  content: "";
                  width: 12px;
                  height: 12px;
                  background: #fffdff;
                  -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
                  z-index: 2;
                  -webkit-box-shadow: 1px 1px 0 0 #bababc;
                  box-shadow: 1px 1px 0 0 #bababc;
                }
              }

              &__context {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 200px;
                background-color: #fffdff;
                border: 1px solid #d4d4d5;
                border-radius: 4px;
                -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
                box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
                padding: 8px;
                z-index: 1;

                .decrease-font,
                .increase-font {
                  color: #727272;
                  line-height: 16px;
                }

                .decrease-font {
                  font-size: 12px;
                }

                .increase-font {
                  font-size: 16px;
                }
              }
            }
          }

          .ui.dropdown {
            padding: 8px;
            border-radius: 4px;
            background-color: #fffdff;
            min-width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:hover {
              background-color: #f2f2f2;
            }
          }
        }

        &__question {
          min-height: 6vw;
          max-height: 12vw;
          line-height: 1.3;
          overflow: auto;
          padding: 8px 12px 12px;
          z-index: 1;

          .lang-question,
          .in-process {
            display: none;

            &.show-question {
              display: block;
            }
          }

          .lang-question,
          .in-process .in-process-text,
          .in-process .other-question {
            direction: ltr;

            &.rtl {
              direction: rtl;
            }
          }

          .in-process .other-question {
            background-color: #ebebeb;
            margin: 8px 0;
            padding: 8px;
          }
        }
      }
    }
  }

  .ui.button {
    background-color: #fffdff;
    padding: 8px;

    &:hover {
      background-color: #f2f2f2;
    }

    .icon {
      margin: 0;
    }
  }
}

.fullscreen {
  @include workshop-question-hover-transition;
  @include activities-workshop-question-hover(200px, 350px);
}

@media screen and (orientation: portrait) {
  .video__overlay {
    @include workshop-question-hover-transition;
  }

  .layout--split {
    @include activities-workshop-question-hover(12vw, 20vw);
  }
}
