@mixin workshop-question-hover-transition {
  .activities .workshop-question-overlay {
    @keyframes up {
      to {
        bottom: 52px;
      }
    }

    @keyframes down {
      to {
        bottom: 0;
      }
    }
  }
}

@mixin activities-workshop-question-hover($min-height, $max-height) {
  .activities {
    &:hover {
      .workshop-question-overlay .outer-container {
        animation: up 0s;
      }
    }

    .workshop-question-overlay {
      height: 100%;

      .outer-container {
        animation: down 300ms;
        animation-fill-mode: forwards;
        animation-delay: 1s;
        bottom: 52px;

        .workshop__question {
          min-height: $min-height;
          max-height: $max-height;
        }
      }
    }
  }
}

@mixin workshop-visibility {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;

  &.overlay-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear .2s;
  }
}
